@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
    url('fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
    url('fonts/MullerMedium.woff2') format('woff2'),
    url('fonts/MullerMedium.woff') format('woff'),
    url('fonts/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
    url('fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
    url('fonts/MullerRegular.woff2') format('woff2'),
    url('fonts/MullerRegular.woff') format('woff'),
    url('fonts/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerThin.eot');
  src: local('Muller Thin'), local('MullerThin'),
    url('fonts/MullerThin.eot?#iefix') format('embedded-opentype'),
    url('fonts/MullerThin.woff2') format('woff2'),
    url('fonts/MullerThin.woff') format('woff'),
    url('fonts/MullerThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerLight.eot');
  src: local('Muller Light'), local('MullerLight'),
    url('fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/MullerLight.woff2') format('woff2'),
    url('fonts/MullerLight.woff') format('woff'),
    url('fonts/MullerLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerBlack.eot');
  src: local('Muller Black'), local('MullerBlack'),
    url('fonts/MullerBlack.eot?#iefix') format('embedded-opentype'),
    url('fonts/MullerBlack.woff2') format('woff2'),
    url('fonts/MullerBlack.woff') format('woff'),
    url('fonts/MullerBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
    url('fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/MullerBold.woff2') format('woff2'),
    url('fonts/MullerBold.woff') format('woff'),
    url('fonts/MullerBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerExtraBold.eot');
  src: local('Muller ExtraBold'), local('MullerExtraBold'),
    url('fonts/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/MullerExtraBold.woff2') format('woff2'),
    url('fonts/MullerExtraBold.woff') format('woff'),
    url('fonts/MullerExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


.green {
  color: #CCEFA3 !important;
}
.purple {
  color: #D3D9F0 !important;
}
.yellow {
  color: #EEE5C4 !important;
}
.red {
  color: #DADADA !important;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #4a4a4a;
  font-family: 'Muller', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #83AE50;
  font-family: Muller;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

p {
  font-size: 14px;
}

button,
input, textarea {
  border: none;
  outline: none;
}

.input::placeholder {
  color: #6975a3;
}

.form__input {
  border-radius: 600px;
  width: 100%;
  background-color: #fff;
  display: block;
  height: 60px;
  padding-left: 28px;
  border: 1px solid #c4ccea;
  color: #6975a3;
  font: 400 18px Muller, sans-serif;
}

.form__textarea {
  padding-top: 20px;
  height: 144px;
  border-radius: 15px;
  resize: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Muller', sans-serif;
  font-weight: 700;
  line-height: 1.2em;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

p {
  color: #4A4A4A;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
}

.container {
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
}

.btn {
  border-radius: 600px;
  background: linear-gradient(180deg, #FFE975, #FFCF53);
  color: #4a4a4a;
  padding: 22px 43px;
  font: 500 18px Muller, sans-serif;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.3s ease;
}

.btn:hover {
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
}

.link {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #83AE50;
  font-weight: 400;
  white-space: nowrap;
  margin: auto 0;
  line-height: 1.2em;
}

.link span {
  font-size: 14px;
}

.link img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 11px;
}

.swiper {
  width: 100%;
  position: relative;
}

.swiper-button-prev, .swiper-button-next {
  color: #fff;
  height: 8px;
  width: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
}
.swiper-button-prev::after, .swiper-button-next::after {
  content: "";
  background: url("../img/caret-left-icon.svg") no-repeat center;
  width: 4px;
  height: 8px;
}

.swiper-button-next::after {
  background: url("../img/caret-right-icon.svg") no-repeat center;
}

.btn-secondary {
  border-radius: 600px;
  border: 3px solid #FFE55B;
  background: #FFF;
}

.btn-secondary:hover {
  background: linear-gradient(180deg, #FFE975, #FFCF53);
  border-color: #FFE55B;
}

.discount-banner {
  background-color: rgba(223, 246, 195, 1);
  display: flex;
  width: 100%;
  justify-content: center;
  font: 14px Muller, sans-serif;
  color: rgba(131, 174, 80, 1);
}

.discount-banner__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 34px;
  width: 100%;
  overflow: hidden;
}

.discount-banner__percentage {
  color: #83AE50;
  align-self: stretch;
  font: 200 49px Muller, sans-serif;
}

.discount-banner__description {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: rgba(74, 74, 74, 1);
  margin: auto 0;
  width: fit-content;
}

.discount-banner__details-link {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  white-space: nowrap;
  text-align: right;
  margin: auto 0;
}

.discount-banner__details-text {
  font-size: 14px;
}

.discount-banner__arrow-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 11px;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #DEDEDE;
  padding-top: 17px;
  padding-bottom: 16px;
  width: 100%;
  gap: 20px;
}

.nav__logo-container {
  display: flex;
  gap: 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
}

.nav__logo {
  aspect-ratio: 4.55;
  object-fit: auto;
  object-position: center;
  width: 194px;
  align-self: start;
  max-width: 100%;
}

.nav__center-name {
  font-weight: 300;
}

.nav__features-container {
  align-self: start;
  display: flex;
  gap: 9px;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
}

.nav__features-icon {
  aspect-ratio: 0.83;
  object-fit: auto;
  object-position: center;
  width: 34px;
  align-self: start;
}

.nav__features-list {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.07
}

.nav__contact-info {
  margin: auto 0;
}

.nav__phone-container {
  display: flex;
  gap: 11px;
  font-size: 19px;
  font-weight: 700;
}

.nav__phone-number {
  font-size: 19px;
  line-height: 1em;
  color: #4A4A4A;
  font-weight: 700;
}

.nav__phone-icon {
  aspect-ratio: 1.82;
  object-fit: auto;
  object-position: center;
  width: 11px;
  margin: auto 0;
}

.nav__availability {
  font-size: 14px;
  line-height: 1em;
  font-weight: 300;
}

.nav__cta-container {
  align-self: start;
  display: flex;
  height: 42px;
  gap: 8px;
  font-size: 15px;
  font-weight: 500;
}

.nav__cta-wa {
  display: block;
}

.nav__cta-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 42px;
  border-radius: 0;
}

.nav__cta-button {
  font-family: Muller, sans-serif;
  border-radius: 600px;
  background-color: rgba(255, 229, 91, 1);
  width: 170px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.nav-menu {
  padding: 13px 0 16px;
}

.nav-menu__nav-container {
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-weight: 400;
}

.nav-menu__links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-menu__link {
  color: #4A4A4A;
  font-family: Muller;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-menu__link:hover {
  color: #83AE50;
}

@media (max-width: 991px) {
  .header__container {
    flex-wrap: wrap;
  }
}

.nav-menu__location-wrapper {
  align-self: flex-start;
  display: flex;
  gap: 4px;
  color: #83ae50;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .nav-menu__location-wrapper {
    white-space: initial;
  }
}

.nav-menu__location-icon {
  aspect-ratio: 0.85;
  width: 11px;
  display: block;
}

.nav-menu__location-text {
  font-family: Muller, sans-serif;
}

.nav-menu__links {
  font-family: Muller, sans-serif;
  color: #4a4a4a;
  flex-grow: 1;
  flex-basis: auto;
}

@media (max-width: 991px) {
  .nav-menu__links {
    max-width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 991px) {
  .discount-banner {
    max-width: 100%;
    padding: 0 20px;
  }

  .discount-banner__info {
    flex-wrap: wrap;
  }

  .discount-banner__percentage {
    font-size: 40px;
  }

  .discount-banner__description {
    max-width: 100%;
  }

  .discount-banner__details-link {
    white-space: initial;
  }
}


.header {
  background: #4A4A4A;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 56px;
}

.header__menu_item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FFF;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 17px 0 13px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}

.header__menu_item:hover {
  color: #FFE55B;
  border-color: #FFE55B;
}

.header__search_icon {
  width: 24px;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 764px;
  width: 100%;
  padding: 27px 60px 80px;
}

@media (max-width: 991px) {
  .offer {
    max-width: 100%;
    padding: 0 20px;
  }
}

.offer__background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.offer__content {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  width: 1155px;
  max-width: 100%;
  align-items: flex-start;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .offer__content {
    flex-wrap: wrap;
  }
}

.offer__main {
  align-self: end;
  display: flex;
  margin-top: 28px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .offer__main {
    max-width: 100%;
  }
}

.offer__subtitle {
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: #838cba;
  font: 400 16px/22px Muller, sans-serif;
}

@media (max-width: 991px) {
  .offer__subtitle {
    max-width: 100%;
  }
}

.offer__title {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4a4a4a;
  margin-top: 30px;
  font: 500 50px/62px Muller, sans-serif;
}

@media (max-width: 991px) {
  .offer__title {
    max-width: 100%;
    font-size: 40px;
    line-height: 55px;
  }
}

.offer__features {
  display: flex;
  margin-top: 43px;
  gap: 19px;
}

@media (max-width: 991px) {
  .offer__features {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

.offer__feature-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.offer__feature-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 16px;
  border-radius: 50%;
}

.offer__feature-icon:not(:first-child) {
  margin-top: 18px;
}

.offer__feature-list {
  color: #4a4a4a;
  flex-grow: 1;
  flex-basis: auto;
  font: 400 21px/35px Muller, sans-serif;
}

@media (max-width: 991px) {
  .offer__feature-list {
    max-width: 100%;
  }
}

.offer__form {
  margin-top: 47px;
}

@media (max-width: 991px) {
  .offer__form {
    margin-top: 40px;
  }
}

.offer__form-inputs {
  display: flex;
  gap: 36px;
}

@media (max-width: 991px) {
  .offer__form-inputs {
    flex-wrap: wrap;
  }
}

.offer__input {
  border-radius: 600px;
  width: 267px;
  background-color: #fff;
  display: block;
  padding: 23px 28px;
  border: 1px solid #c4ccea;
  color: #6975a3;
  font: 400 18px Muller, sans-serif;
}

@media (max-width: 991px) {
  .offer__input {
    padding: 0 20px;
  }
}

.offer__input-required {
  color: #aeb7dc;
  font: 300 14px Muller, sans-serif;
}

.offer__form-footer {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

@media (max-width: 991px) {
  .offer__form-footer {
    flex-wrap: wrap;
  }
}

.offer__consent {
  display: flex;
  gap: 4px;
  font-size: 11px;
  color: rgba(55, 55, 55, 0.71);
  font-weight: 300;
  line-height: 12px;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}

.offer__consent-checkbox {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 28px;
  border-radius: 50%;
  background-color: #b6bfe8;
  align-self: start;
  height: 28px;
}

.offer__consent-text {
  color: rgba(55, 55, 55, 0.71);
  max-width: 250px;
  font-size: 11px;
  font-weight: 300;
}

.offer__consent-text a {
  color: rgba(55, 55, 55, 0.71);
  font-size: 11px;
  font-weight: 300;
  text-decoration: underline;
  line-height: inherit;
}

.offer__submit-btn {
  width: 267px;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
}

@media (max-width: 991px) {
  .offer__submit-btn {
    padding: 0 20px;
  }
}

.offer__stats {
  background-color: rgba(223, 246, 195, 0.3);
  border-radius: 50%;
  align-self: start;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  aspect-ratio: 1;
  padding: 0 11px;
}

.offer__stats-inner {
  background-color: rgba(223, 246, 195, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  aspect-ratio: 1;
  padding: 0 13px;
}

.offer__stats-content {
  background: linear-gradient(214deg, #DFF6C3 8.92%, #B6E183 92.7%);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  padding: 8px;
}

.offer__stats-percentage {
  color: #83ae50;
  align-self: center;
  font: 500 41px Muller, sans-serif;
}

.offer__stats-description {
  color: #4a4a4a;
  margin-top: 3px;
  font: 400 15px/16px Muller, sans-serif;
}

.statistics {
  padding: 100px 0 60px;
}

.statistics__wrap {
  display: flex;
  width: 100%;
  max-width: 1136px;
  gap: 20px;
  font: 400 18px/1.5 Muller, sans-serif;
  color: #4a4a4a;
  justify-content: space-between;
}

.statistics__item {
  display: flex;
  flex-direction: column;
}

.statistics__number {
  font: 900 32px Muller, sans-serif;
}

.statistics__description {
  margin-top: 16px;
}

.statistics__link {
  width: fit-content;
  display: flex;
  margin-top: 23px;
  gap: 9px;
  color: #83ae50;
  white-space: nowrap;
}

.statistics__link-text {
  flex-grow: 1;
  flex-basis: auto;
}

.statistics__link-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 11px;
  margin: auto 0;
}

@media (max-width: 991px) {
  .statistics {
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .statistics__link {
    white-space: initial;
  }
}

.health-plus {
  margin-top: 60px;
}

.health-plus_wrap {
  display: flex;
  align-items: center;
}

.health-plus__column {
  display: flex;
  flex-direction: column;
  width: 58%;
  z-index: 0;
}

.health-plus__column:last-child {
  z-index: 1;
  margin-left: -190px;
}

.health-plus__content {
  border-radius: 10px;
  background-color: #e8f9d4;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  color: #4a4a4a;
  padding: 61px 56px;
}

.health-plus__title {
  font: 700 36px/41px Muller, sans-serif;
}

.health-plus__description {
  margin-top: 37px;
  font: 400 17px/23px Muller, sans-serif;
}

.health-plus__image-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  min-height: 368px;
  align-items: center;
  justify-content: center;
  padding: 80px 60px;
}

.health-plus__background-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.health-plus__play {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 66px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

@media (max-width: 991px) {
  .health-plus {
    margin-top: 40px;
  }

  .health-plus__container {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .health-plus__column {
    width: 100%;
  }

  .health-plus__content {
    max-width: 100%;
    padding: 40px 20px;
  }

  .health-plus__image-wrapper {
    max-width: 100%;
    margin-top: 40px;
    padding: 40px 20px;
  }

  .health-plus__logo {
    margin-top: 40px;
  }
}

.we {
  padding: 32px 0 60px;
}

.we__title {
  margin-bottom: 36px;
  text-align: center;
}

.we__wrap {
  display: flex;
  gap: 20px;
}

.we__column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  gap: 23px;
}

.we__item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.we__text {
  color: rgba(74, 74, 74, 1);
  font: 400 17px/23px Muller, sans-serif;
  max-width: 478px;
}

.we__btns {
  margin-top: 46px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact {
  padding: 60px 0;
}

.contact__wrap {
  display: flex;
  gap: 20px;
}

.contact__column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact__info-box {
  border-radius: 10px;
  background-color: #eaedf9;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: start;
  color: #4a4a4a;
  width: 100%;
  padding: 80px 47px;
  position: relative;
}

.contact__shield {
  position: absolute;
  width: 153px;
  bottom: 53px;
  right: 40px;
}

.contact__title {
  font: 700 29px/38px Muller, sans-serif;
  margin-bottom: 30px;
}

.contact__support-box {
  border-radius: 10px;
  background-color: #e8f9d4;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 46px 47px 80px;
}

.contact__support-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contact__support-text {
  color: #4a4a4a;
  margin-top: 24px;
  font: 400 22px/29px Muller, sans-serif;
}

.contact__support-image {
  aspect-ratio: 0.83;
  object-fit: auto;
  object-position: center;
  width: 141px;
  max-width: 100%;
}

.contact__hotline {
  display: flex;
  margin-top: 43px;
  gap: 17px;
  color: #4a4a4a;
}

.contact__hotline-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 60px;
}

.contact__hotline-info {
  align-self: start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
}

.contact__hotline-number {
  font: 700 38px Muller, sans-serif;
}

.contact__hotline-description {
  font: 300 18px Muller, sans-serif;
}

@media (max-width: 991px) {
  .contact {
    max-width: 100%;
    margin-top: 40px;
  }

  .contact__container {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .contact__column {
    width: 100%;
  }

  .contact__info-box {
    max-width: 100%;
    margin-top: 24px;
    padding: 0 20px;
  }

  .contact__cta-button {
    margin-top: 40px;
    padding: 0 20px;
  }

  .contact__support-box {
    max-width: 100%;
    margin-top: 24px;
    padding: 0 20px;
  }

  .contact__support-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .contact__support-text {
    margin-top: 40px;
  }

  .contact__support-image {
    margin-top: 40px;
  }

  .contact__hotline {
    flex-wrap: wrap;
  }
}

.services {
  padding: 60px 0;
}
@media (max-width: 991px) {
  .services {
    max-width: 100%;
    margin-top: 40px;
  }
}

.services__title {
  margin-bottom: 51px;
}
.services__wrap {
  gap: 24px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 991px) {
  .services__wrap {
    flex-direction: column;
    align-items: stretch;
  }
}
.services__column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0;
}
@media (max-width: 991px) {
  .services__column {
    width: 100%;
  }
}
.services__card {
  border-radius: 5px;
  background: linear-gradient(183deg, #f7f7f7, #f7f7f7);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #4a4a4a;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  padding-bottom: 26px;
  transition: all 0.5s ease;
}
@media (max-width: 991px) {
  .services__card {
    margin-top: 24px;
  }
}
.services__image {
  aspect-ratio: 1.79;
  object-fit: cover;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.services__content {
  display: flex;
  flex-direction: column;
  padding: 0 24px 26px 40px;
  height: 100%;
}
@media (max-width: 991px) {
  .services__content {
    padding: 0 20px;
  }
}
.services__name {
  height: 85px;
  padding-top: 22px;
  font: 700 19px/23px Muller, sans-serif;
}
.services__description {
  font-family: Muller, sans-serif;
  font-weight: 300;
  line-height: 23px;
  margin-bottom: 25px;
}
.services__price {
  font-family: Muller, sans-serif;
  margin-top: auto;
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 300;
}
.services__price-value {
  color: #4A4A4A;
  font-size: 25px;
  font-weight: 800;
  margin-left: 4px;
}
.services__cta {
  background: transparent;
  border-radius: 52px;
  width: 300px;
  display: flex;
  margin-top: 14px;
  margin-left: -117px;
  gap: 8px;
  font-size: 18px;
  padding: 15px 22px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #83ae50;
  cursor: pointer;
  transition: all 0.3s ease;
}

.services__card:hover {
  background: linear-gradient(183deg, #E8F9D4 27.52%, #C5EC98 97.54%);
  color:#4A4A4A;
}
.services__card:hover .services__cta {
  background: #fff;
  color: #83AE50;
}
.services__cta:hover {
  margin-left: -100px;
}
.services__cta-text {
  margin-left: auto;
}
.services__cta-icon {
  aspect-ratio: 1;
  width: 11px;
  margin: auto 0;
}

.warranty {
  padding: 60px 0;
}

.warranty__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 51px;
}

.warranty__item {
  border-radius: 5px;
  background: linear-gradient(87deg, #E8F9D4 29.4%, #C5EC98 95.92%);
  padding: 53px 63px 46px 42px;
  color: #4A4A4A !important;
  position: relative;
  overflow: hidden;
}

.warranty__item.green {
  background: linear-gradient(87deg, #E8F9D4 29.4%, #C5EC98 95.92%);
}

.warranty__item.purple {
  background: linear-gradient(81deg, #EAEDF9 7.02%, #C8CFEB 88.55%);
}

.warranty__item.yellow {
  background: linear-gradient(74deg, #FFFAE5 11.24%, #F0E9CC 89.57%);
}

.warranty__item.red {
  border-radius: 5px;
  background: linear-gradient(73deg, #FFEDE9 -4.66%, #FFC7BB 118.08%);
}

.warranty__name {
  margin-bottom: 14px;
}

.warranty__img {
  position: absolute;
  bottom: 36px;
  left: 52px;
}

.warranty__circle {
  content: '';
  width: 226px;
  height: 226px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.50);
  position: absolute;
  top: -78px;
  right: -52px;
}

.warranty__text {
  margin-bottom: 26px;
}

.warranty__contacts {
  display: flex;
  align-items: center;
  gap: 19px
}

.warranty__contacts-phone label {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  margin-bottom: 5px;
}

.warranty__contacts-btn {
  margin-top: 12px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 8px
}

.phone span {
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.video {
  padding: 60px 0;
}

.video__wrap {
  display: flex;
  align-items: center;
  position: relative;
}

.video__bg {
  position: absolute;
  z-index: -1;
  left: -40px;
  top: -100px;
}

.video__item {
  border-radius: 10px;
  background: linear-gradient(130deg, #E8F9D4 33.16%, #C5EC98 85.61%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 414px;
  height: 339px;
  position: absolute;
  z-index: 2;
}

.video__title {
  color: #4A4A4A;
  font-family: Muller;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  width: fit-content;
}

.video__content {
  width: 850px;
  max-width: 90%;
  margin-left: auto;
  position: relative;
}

.video__btn {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stages {
  padding: 60px 0;
}

.stages__title {
  margin-bottom: 23px;
}

.stages__wrap {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.stages__item {
  display: flex;
  align-items: center;
  gap: 46px;
}

.stages__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.stages__left-text {
  color: #CCEFA3;
  text-align: center;
  font-size: 33px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 3.96px;
  margin-right: 14px;
}

.stages__left-number {
  background-clip: text !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 150px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 18px;
  margin-top: -3px;
}


.stages .green-gradient {
  background: linear-gradient(130deg, #E8F9D4 33.16%, #C5EC98 85.61%);
}

.stages .purple-gradient {
  background: linear-gradient(81deg, #EAEDF9 7.02%, #C8CFEB 88.55%);
}
.stages .yellow-gradient {
  background: linear-gradient(74deg, #FFFAE5 11.24%, #F0E9CC 89.57%);
}
.stages .red-gradient {
  background: linear-gradient(73deg, #FFEDE9 4.66%, #FFC7BB 118.08%);
}

.stages__content {
  border-radius: 10px;
  background: linear-gradient(131deg, #F3FFE5 22.4%, #DBF0C2 105.92%);
  padding: 68px 75px 68px 50px;
}

.stages__text {
  margin: 16px 0;
}

.reviews {
  padding: 60px 0;
}

.reviews-partners {
  padding: 120px 0 60px;
}

.reviews-histories {
  background: linear-gradient(276deg, #E8F9D4 13.91%, #C5EC98 96.79%);
  padding: 118px 0 107px
}

.reviews-histories .reviews__wrap {
  grid-template-columns: 1fr 1fr;
}

.reviews__title {
  margin-bottom: 23px;
}

.reviews__desc {
  color: #4A4A4A;
  font-size: 18px;
  margin-bottom: 58px;
}

.reviews__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.reviews__item {
  border-radius: 5px;
  background: #F7F7F7;
  padding: 44px 35px 62px 41px;
  width: 100%;
  min-height: 458px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.reviews__item:before {
  content: '';
  background: url('../img/review-icon.svg');
  position: absolute;
  width: 52px;
  height: 57px;
  top: 0;
  right: 41px;
}

.reviews-histories .reviews__item:before {
  background: url('../img/review-green-icon.svg');
}


.reviews__logo {
  background: transparent;
  position: absolute;
  border-radius: 0px 0px 600px 600px;
  width: 52px;
  height: 57px;
  top: 0;
  right: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.reviews__logo img {
  max-width: 100%;
}

.reviews__stars {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: -9px;
  margin-bottom: 22px;
}

.reviews__position {
  color: #8B8B8B;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 8px;
}

.reviews__author {
  font-size: 18px;
  margin-bottom: 28px;
}

.reviews__name {
  font-size: 19px;
  color: #4A4A4A;
  font-weight: 700;
  margin-bottom: 20px;
}

.reviews__text img {
  max-width: 100%;
}

.reviews__link {
  margin-top: auto;
}

.reviews__btn {
  margin: 40px auto 0;
  width: 230px;
}

.audios {
  padding: 60px 0 120px;
}

.audios__wrap {
  border-radius: 10px;
  background: linear-gradient(130deg, #E8F9D4 33.16%, #C5EC98 85.61%);
  padding: 66px 56px 82px;
}

.sectiontop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.sectiontop__arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sectiontop__arrow {
  width: 56px;
  cursor: pointer;
}

.audios__arrow img {
  width: 100%;
}

.audios__content {
  margin-top: 32px;
  display: flex;
  gap: 32px;
}

.audios__item {
  border-radius: 600px;
  background: #FFF;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  padding-right: 32px;
}

.audios__item-user {
  aspect-ratio: 1;
  width: 66px;
  background: #F4F4F4;
  border-radius: 50%;
  padding: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audios__wave {
  pointer-events: none;
}

.audios__btn {
  padding: 0;
  width: 66px;
  height: 66px;
}

.audios__btn-play {
  display: block;
  margin-left: 5px;
}

.videos {
  padding: 116px 0 134px;
  background: linear-gradient(284deg, #F5F7FD 26.29%, #E9EDF9 77.01%);
}

.videos__title {
  margin-bottom: 48px;
}

.videos__top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.videos__bottom {
  display: grid;
  margin-top: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.videos__item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  aspect-ratio: 9 / 5;
}

.videos__bottom .videos__item {
  aspect-ratio: 5 / 9;
}

.videos__item:after {
  content: '';
  background: rgba(0, 0, 0, 0.15);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.videos__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videos__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 66px;
  height: 66px;
  z-index: 1;
}

.videos__btn img {
  display: block;
  margin-left: 5px;
  width: auto;
  height: auto;
}

.articles {
  padding: 60px 0 120px;
}

.articles__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.articles__img {
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 7 / 5;
  overflow: hidden;
  margin-bottom: 24px;
}

.articles__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__date {
  color: #848484;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 12px;
}

.article__name {
  margin-bottom: 16px;
  max-width: 90%;
}

.article__text {
  margin-bottom: 24px;
}

.articles__btn {
  width: 230px;
  margin: 60px auto 0;
}

.experts {
  padding: 120px 60px;
}

.experts__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.experts__item {
  border-radius: 5px;
  background: #F7F7F7;
  height: 434px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.experts__video {
  position: absolute;
  top: 41px;
  left: 41px;
  width: calc(100% - 82px);
  height: 100%;
  z-index: -1;
}

.experts__video img {
  width: 100%;
  border-radius: 5px;
}

.experts__play {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 52px;
  height: 52px;
  padding: 0;
}

.experts__play img {
  width: 16px;
  margin-left: 4px;
}

.experts__bottom {
  border-radius: 5px;
  background: linear-gradient(0deg, #F7F7F7 66.41%, rgba(247, 247, 247, 0.00) 100%);
  padding: 75px 41px 31px 41px;
  margin-top: auto;
  height: 50%;
}

.experts__name {
  font-size: 18px;
  margin-bottom: 16px;
}

.conditions {
  padding: 60px 0 80px;
}

.conditions__title {
  margin-bottom: 33px;
}

.conditions__wrap {
  display: flex;
  flex-direction: column;
  gap: 74px;
}

.conditions__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conditions__media {
  height: 280px;
  width: 500px;
  min-width: 500px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.conditions__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conditions__play {
  padding: 0;
  width: 66px;
  height: 66px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.conditions__play img {
  display: block;
  margin-left: 5px;
  width: auto;
  height: auto;
}

.conditions__content {
  border-radius: 10px;
  background: linear-gradient(130deg, #E8F9D4 33.16%, #C5EC98 85.61%);
  padding: 54px 54px 57px 173px;
  margin-left: -118px;
}

.media-right .conditions__content {
  background: linear-gradient(276deg, #EAEDF9 23.05%, #C8CFEB 108.46%);
  margin-left: 0;
  padding-left: 55px;
  min-width: 758px;
}

.media-right .conditions__media {
  margin-left: -118px;
}

.conditions__name {
  margin-bottom: 21px;
}

.conditions__text {
  font-size: 17px;
  max-width: 528px;
}

.media-right .conditions__text {
  max-width: 510px;
}

.cert {
  padding: 80px 0 60px;
}

.cert__title {
  margin-bottom: 21px;
}

.cert__wrap {
  border-radius: 10px;
  background: #F7F7F7;
  display: flex;
  align-items: center;
  position: relative;
  padding: 74px 58px 91px;
}

.cert__img {
  position: absolute;
  left: -44px;
  top: -41px;
  height: 532px;
  max-width: 55%;
  pointer-events: none;
}

.cert__img img {
  max-width: 100%;
}

.cert__form {
  max-width: 565px;
  margin-left: auto;
}

.cert__text {
  margin-bottom: 40px;
  font-size: 17px;
}

.cert__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 20px;
}

.cert__input {
  border-radius: 600px;
  border: 1px solid #CBCBCB;
  background: #FFF;
  padding: 20px 20px 22px 28px
}

.cert__btn {
  border-radius: 600px;
  background: linear-gradient(180deg, #FFE975 10.83%, #FFCF53 100%);
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
}

.cert__btn-green {
  border-radius: 600px;
  background: linear-gradient(180deg, #C6FD84 10.83%, #77C01F 100%);
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
}

.cert__credits {
  color: rgba(55, 55, 55, 0.71);
  font-family: Muller;
  font-size: 11px;
  font-weight: 300;
  line-height: 12px; /* 109.091% */
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.cert__credits input {
  width: 28px;
  height: 28px;
}

.cert__credits a {
  color: rgba(55, 55, 55, 0.71);
  font-family: Muller;
  font-size: 11px;
  font-weight: 300;
  line-height: 12px;
  text-decoration: underline;
  white-space: nowrap;
}

.procedures {
  padding: 120px 0 60px;
}

.procedures__title {
  margin-bottom: 51px;
  max-width: 668px;
}

.procedures__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.procedures__item {
  border-radius: 40px 5px;
  background: linear-gradient(130deg, #E8F9D4 33.16%, #C5EC98 85.61%);
  padding: 36px 40px 32px;
  height: 184px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}

.procedures__btn {
  display: none;
  margin-top: auto;
  height: 54px;
  padding: 0;
  background: linear-gradient(180deg, #FFE975 10.83%, #FFCF53 100%);
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
}

.procedures__item:hover {
  background: linear-gradient(130deg, #EAEDF9 33.16%, #D1D7EF 85.61%);
}

.procedures__item:hover .procedures__price {
  display: none;
}

.procedures__item:hover .procedures__btn {
  display: block;
}

.procedures__price {
  margin-top: 49px;
  margin-bottom: 19px;
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 700;
  margin-top: auto;
}

.procedures__price span {
  font-size: 25px;
}

.packs {
  padding: 60px 0;
}

.packs__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.packs__item {
  border-radius: 5px;
  background: #F7F7F7;
  padding: 28px 41px 39px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.packs__top {
  font-size: 15px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.packs__name {
  max-width: 190px;
  text-align: center;
  margin: 0 auto 40px;
  height: 52px;
  line-height: 1em;
}

.packs__list-item {
  color: #4A4A4A;
  font-family: Muller;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 19px;
  margin-left: 25px;
  position: relative;
}

.packs__list-item:before {
  content: '';
  background: url('../img/plus-icon.svg') no-repeat center / contain;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 3px;
  margin-left: -25px;
}

.packs__price {
  color: #4A4A4A;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 114%;
  margin-top: auto;
  margin-bottom: 38px;
}

.packs__price span {
  display: block;
  color: #4A4A4A;
  font-size: 25px;
  font-weight: 800;
  line-height: 114%;
}

.packs__btn {
  margin: 0 auto;
  height: 60px;
  width: 100%;
  padding: 0;
}

.packs__arrow {
  position: absolute;
  width: 100%;
  height: 230px;
  margin-top: -115px;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-out;
}

.packs__item:hover .packs__arrow {
  height: calc(100% - 20px);
}

.packs__arrow:before {
  content: '';
  background: linear-gradient(180deg, #E9FAD5, #C6EC99);
  height: 180px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.packs__arrow:after {
  content: '';
  background: url('../img/plans-form.svg') no-repeat top / cover;
  position: absolute;
  width: 100%;
  height: 45px;
  bottom: 0;
  left: 0%;
}

.packs__arrow-green {
  background: #E9FAD5;
}

.packs__arrow-purple {
  background: #EBEEFA;
}

.packs__arrow-purple.packs__arrow:before {
  background: linear-gradient(180deg, #EBEEFA, #C2CAEE);
}

.packs__arrow-red {
  background: #FFEDE9;
}

.packs__arrow-red.packs__arrow:before {
  background: linear-gradient(180deg, #FFEDE9, #FFC7BB);
}

.members {
  padding: 60px 0;
}

.members__main {
  border-radius: 10px;
  background: #F7F7F7;
  padding: 50px 100px 50px 55px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 47px;
}

.members__main-img {
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  max-height: 320px;
  aspect-ratio: 3 / 2;
  object-fit: contain;
}

.members__name {
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 6px;
}

.members__name span {
  font-size: 23px;
}

.members__position {
  color: #828282;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 18px;
}

.members__year {
  border-radius: 600px;
  background: #FFF;
  color: #83AE50;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  padding: 6px 13px;
  margin-bottom: 18px;
  width: fit-content;
}

.members__text {
  margin-bottom: 26px;
  max-width: 435px;
}

.members__wa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 19px;
}

.members__phone {
  display: flex;
  align-items: center;
  gap: 8px;
}

.members__phone span {
  color: #4A4A4A;
  font-size: 20px;
  font-weight: 700;
}

.members__bottom {
  display: flex;
  align-items: center;
  gap: 18px;
}

.members__link {
  font-size: 18px;
  font-weight: 400;
}

.members__btn {
  height: 60px;
}

.members__btn-secondary {
  background: transparent;
  border-width: 1px;
  border-color: #4A4A4A;
  height: 60px;
}

.members__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.members__item {
  border-radius: 10px;
  background: #F7F7F7;
  padding: 41px;
  transition: 0.2s ease;
}

.members__item:hover, .members__item.active {
  border-radius: 10px;
  background: linear-gradient(168deg, #E8F9D4 24.7%, #C5EC98 77.39%);
}

.members__img {
  width: 185px;
  aspect-ratio: 1;
  border-radius: 5px;
  margin-bottom: 16px;
  overflow: hidden;
}

.members__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.members__wrap .members__name {
  font-size: 16px;
  margin-bottom: 9px;
}

.members__wrap .members__position {
  font-size: 14px;
  margin-bottom: 9px;
  margin-bottom: 12px;
}

.members__wrap .members__year {
  font-size: 15px;
  margin-bottom: 15px;
}

.about {
  padding: 60px 0;
}

.about__wrap {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about__title {
  margin-bottom: 29px;
}

.about__text {
  font-size: 18px;
  line-height: 1.44;
}

.about__name {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 22px;
}

.about__name-bold {
  font-weight: 500;
}

.about__text img {
  float: left;
  width: 50%;
  border-radius: 5px;
  margin-right: 24px;
  margin-bottom: 12px;
}

.about__list {
  padding-left: 0; 
  margin-top: 33px;
}

.about__olist {
  counter-reset: item; 
  list-style: none; 
}


.about__list li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px; 
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 22px;
}

.about__olist li {
  counter-increment: item; 
}

.about__list li::before {
  content: '';
  background: #83AE50;
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 0;
  top: 7px;
}

.about__olist li::before {
  content: counter(item) ".";
  background: none;
  font-weight: 400;
  top: 0;
  color: #83AE50;
  font-size: 18px;
}

.about__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.about__gallery-img {
  width: 100%;
  aspect-ratio: 5 / 3;
  height: auto;
  margin-bottom: 23px;
}

.about__gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__gallery-text {
  font-size: 18px;
}

.about__gallery-text:before {
  content: '';
  background: #FFE55B;
  display: block;
  width: 60px;
  height: 4px;
  margin-bottom: 8px;
}

.about__alert {
  border-radius: 5px;
  background: #E4FFC4;
  display: flex;
  align-items: center;
  gap: 42px;
  padding: 0 41px;
  color: #778962;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44
}

.about__table {
  border-spacing: 0;
  border-bottom: 5px solid #F7F7F7;;
}

.about__table th {
  background: #4A4A4A;
  font-size: 17px;
  color: #fff;
  font-weight: 700;
  padding: 18px 41px;
  text-align: left;
}

.about__table th:last-child {
  text-align: right;
}

.about__table td {
  font-size: 17px;
  color: #4A4A4A;
  padding: 18px 41px;
  line-height: 1.2;
}

.about__table td:last-child {
  text-align: right;
  white-space: nowrap;
}

.about__table tr:nth-child(even) {
  background: #F7F7F7;
}

.about__price {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  color: #4A4A4A;
  text-align: right;
  font-size: 19px;
  font-weight: 800;
} 

.about__price-old {
  color: #4A4A4A;
  font-size: 15px;
  font-weight: 400;
  padding: 0 3px;
  position: relative;
}

.about__price-old:after {
  content: '';
  background: #FF5151;
  width: 100%;
  height: 1px;
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-3.5deg);
}

.about__video {
  margin-top: 40px;
}

.faq {
  padding: 60px 0 120px;
}

.faq__title {
  margin-bottom: 51px;
}

.faq__wrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.faq__item {
  border-radius: 5px;
  background: #FBFBFB;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.faq__item-top {
  background: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 41px;
  z-index: 1;
  cursor: pointer;
}

.faq__name {
  max-width: 550px;
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16
}

.faq__item-body {
  background: #FBFBFB;
  padding: 0 75px 0 41px;
  color: #4A4A4A;
  max-height: 0;
  overflow: hidden;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  transition: all 0.5s ease;
}

.faq__item.active .faq__item-body {
  max-height: 300px;
  padding: 25px 75px 35px 41px;
}

.faq__item.active .faq__item-top {
  background: linear-gradient(269deg, #E9FAD5 14.1%, #BCE092 99.74%);
}

.faq__item.active .faq__arrow img {
  transform: rotate(-180deg);
}

.faq__bottom {
  border-radius: 5px;
  background: linear-gradient(-128deg, #F8F9FF 33.29%, #D1D7EF 99.35%);
  display: flex;
  align-items: center;
  gap: 36px;
  padding: 18px 41px;
  margin-top: 120px;
}

.faq__bottom-img {
  width: 110px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.faq__bottom-check {
  border-radius: 600px;
  background: #FFF;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 300;
  gap: 7px;
  margin-bottom: 12px;
  width: fit-content;
}

.faq__bottom-name {
  margin-bottom: 5px;
}

.faq__bottom-position {
  font-size: 16px;
  font-weight: 300;
}

.faq__bottom-right {
  margin-left: auto;
  position: relative;
}

.faq__bottom-rate {
  display: flex;
  align-items: center;
  gap: 26px;
}

.faq__bottom-stars {
  display: flex;
  align-items: center;
  gap: 8px
}

.faq__bottom-star {
  height: 24px;
}

.faq__bottom-date {
  color: rgba(74, 74, 74, 0.70);
  font-size: 13px;
  line-height: 13px;
  font-weight: 300;
  text-align: right;
  margin-top: 13px;
  margin-right: 36px;
  position: absolute;
  right: 0;
}

.faq__bottom-btn {
  height: 60px;
  width: 238px;
}

.map {
  padding: 60px 0;
  background: gray;
}

.map__wrap {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
  padding: 36px 50px 45px 53px;
  width: 466px;
}

.map__title {
  margin-bottom: 26px;
}

.map__phone {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 7px;
  color: #4A4A4A;
  display: block;
}

.map__label {
  color: rgba(74, 74, 74, 0.82);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 6px;
  display: block;
}

.map__item {
  margin-top: 26px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.map__btn {
  height: 60px;
  width: 280px;
  margin-top: 15px;
}

.map__btn-green {
  background: linear-gradient(180deg, #C6FD84 10.83%, #77C01F 100%);
  margin-top: 33px;
}

.form {
  padding: 120px 0;
}

.form__wrap {
  border-radius: 5px;
  background: linear-gradient(-129deg, #F8F9FF 0.78%, #D1D7EF 97.85%);
  padding: 49px 53px 61px;
  position: relative;
}

.form__wrap:after {
  content: '';
  background: url('../img/chat-icon.svg') no-repeat center / contain;
  position: absolute;
  display: block;
  width: 244px;
  height: 144px;
  right: 53px;
  top: 0;
}

.form__title {
  margin-bottom: 17px;
}

.form__desc {
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 33px;
}

.form__content {
  display: grid;
  grid-template-columns: 310px 1fr;
  gap: 24px;
}

.form__left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__right-bottom {
  display: flex;
  align-items: center;
  gap: 28px;
}

.form__checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form__checkbox, .form__checkbox a {
  color: rgba(55, 55, 55, 0.71);
  font-size: 11px;
  font-weight: 300;
  line-height: 1.1
}

.form__checkbox input {
  width: 28px;
  height: 28px;
}

.form__checkbox a {
  text-decoration: underline;
}

.form__btn {
  width: 310px;
  min-width: 310px;
  height: 60px;
  padding: 0;
}

.footer {
  background: #F7F7F7;
  padding-bottom: 40px;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 267px;
  align-items: center;
  gap: 18px;
  border-bottom: 1px solid #E3E3E3;
}

.footer__menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer__menu-item {
  display: block;
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 500;
  padding: 37px 0;
  border-bottom: 1px solid transparent;
}

.footer__menu-item:hover {
  color: #83AE50;
  border-color: #83AE50;
}

.footer__search {
  width: 267px;
}

.search-input {
  position: relative;
}

.search-input:after {
  content: '';
  background: url('../img/search-dark-icon.svg') no-repeat center / contain;
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  pointer-events: none;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
}

.footer__link {
  display: block;
  color: #4A4A4A;
  font-family: Muller;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.12;
}

.footer__link:hover, .footer__link.active  {
  color: #83AE50;
}

.footer__info {
  display: flex;
  align-items: flex-start;
  gap: 33px;
  margin-top: 44px;
  margin-bottom: 7px;
}

.footer__logo {
  width: 200px;
}

.footer__text {
  max-width: 460px;
  color: #8F8F8F;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.14
}

.footer__contacts {
  margin-left: auto;
}

.footer__phone {
  display: flex;
  align-items: flex-start;
  gap: 13px;
  margin-bottom: 15px;
}

.footer__phone-text {
  color: rgba(74, 74, 74, 0.82);
  font-size: 16px;
  font-weight: 300;
}

.footer__phone-text span {
  display: block;
  color: #4A4A4A;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}

.footer__btn {
  width: 267px;
  height: 50px;
  padding: 0;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__credits {
  display: flex;
  gap: 47px;
}

.footer__credits-item, .footer__credits-item a {
  color: #8F8F8F;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5
}

.footer__credits-item a {
  display: block;
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 8px;
}

.footer__social {
  border-radius: 2px;
  background: #C8C8C8;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}